.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage
/test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# 'Hide' Firebase API key, though it is visible in app anyway.
# Use proper Firebase authentication rules for security!
src/services/firebase.js
